**/dist
dist

**/target
target

**/node_modules
node_modules

**/.vscode
.vscode

**/.idea
.idea

**/*~

**/.turbo
.turbo

.env
.env.*
**/.env
**/.env.*

.DS_Store
**/.DS_Store

declarations
**/declarations

.dfx
**/.dfx

docs
**/docs

**/*.tsbuildinfo